<p class="intro">
  <%= t 'site.home.contact.intro', :nb => pluralize(@contacts.size, 'contact') %>
</p>

<table class="table table-hover">
  <thead>
      <tr>
        <th>Prenom</th>
        <th>Nom</th>
        <th>E-mail</th>
        <th></th>
      </tr>
  </thead>

  <% @contacts.each do |contact| %>
      <tr url="<%= edit_home_contact_path(contact) %>" onmouseover="$('.delete<%= contact.id %>').css('visibility','visible');" onmouseout="$('.delete<%= contact.id %>').css('visibility','hidden');" style = "cursor: pointer">
        <td><%= contact.prenom %></td>
        <td><%= contact.nom %></td>
        <td><%= contact.mail %></td>
        <td><%= button_to '', home_contact_path(contact), :method => :delete, :class => "icone delete delete#{contact.id}", :title => 'Test',data: { confirm: 'Are you sure?' },:style=> "visibility : hidden" %></td>

      </tr>
  <% end %>
</table>



<div class="actions">
  <%= link_to "Ajouter un contact", new_home_contact_path, :class => "blue_button" %>
</div>

