<h1>Liste de vos contacts</h1>

<%= @contacts.size %> utilisateurs

<div>
<%= link_to "Ajouter un contact", new_home_contact_path, :class => "signup_button round" %>
</div>

<table class="table table-hover">
  <thead>
      <tr>
        <th>Prenom</th>
        <th>Nom</th>
        <th>E-mail</th>
        <th></th>
      </tr>
  </thead>

  <% @contacts.each do |contact| %>
      <tr url="<%= edit_home_contact_path(contact) %>">
        <td><%= contact.prenom %></td>
        <td><%= contact.nom %></td>
        <td><%= contact.mail %></td>
        <td><%= button_to '', home_contact_path(contact), :method => :delete, :class => 'icone delete', :title => 'Test',data: { confirm: 'Are you sure?' } %></td>

      </tr>
  <% end %>
</table>

<br />
